.jumbotron{
    background-color: rgba(100, 100, 100, .5) !important;
    color: white !important;
}
.Seccion{
    background-image: url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-9.jpg');
    background-size: cover;
}
.Body{
    text-align: center;
}